/api/.env
/api/vendor
/api/node_modules
/api/Homestead.yaml
/api/Homestead.json
/api/storage/logs/*
/api/storage/framework/cache/*
/api/storage/framework/sessions/*
/api/storage/framework/views/*
/api/storage/debugbar
/api/storage/app/*
/api/quickstart-laravel.*
/api/public/imgs/products/*

/web-app/public/bower_components
