<ng-include class="main-head" src="'tpl/layout/main-head.tpl.html'"></ng-include>

<div class='col-md-10 col-md-offset-1'>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a showtab href="#basic" aria-controls="basic" role="tab" data-toggle="tab">
                Basic
            </a>
        </li>
        <li role="presentation">
            <a showtab href="#more" aria-controls="more" role="tab" data-toggle="tab">
                More
            </a>
        </li>
    </ul>

    <form class="form-horizontal" name="form">

        <!-- Tab panes -->
        <div class="tab-content">

            <!-- panel basic -->

            <div role="tabpanel" class="tab-pane active" id="basic">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 class="col-sm-offset-1 form-title">
                            Basic Settings
                        </h2>

                        <div class="form-group" ng-class="{'has-error': isInvalid(form.title, page.api.errors)}">
                            <label for="inputTitle" required  class="col-sm-2 control-label">
                                Title
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="title" placeholder="Title" ng-model="page.product.title"/>

                                <div ng-show="form.$submitted || form.title.$touched">
                                    <p ng-show="form.title.$error.required" class="help-block">This field is required</p>
                                    <p ng-repeat="error in page.api.errors.title" class="help-block">{{error}}</p> 
                                </div>    

                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': isInvalid(form.subtitle, page.api.errors)}">
                            <label for="inputSubTitle" class="col-sm-2 control-label">
                                Subtitle
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputSubTitle" placeholder="SubTitle"  name="subtitle" ng-model="page.product.subtitle"/>

                                <div ng-show="form.$submitted || form.subtitle.$touched">
                                    <p ng-show="form.subtitle.$error.required" class="help-block">This field is required</p>
                                    <p ng-repeat="error in page.api.errors.subtitle" class="help-block">{{error}}</p>
                                </div> 
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': isInvalid(form.description, page.api.errors)}">
                            <label for="inputDescription" class="col-sm-2 control-label">
                                Description
                            </label>
                            <div class="col-sm-9">
                                <textarea id="description"  name="description" ng-model="page.product.description">
                                </textarea>

                                <div ng-show="form.$submitted || form.description.$touched">
                                    <p ng-show="form.description.$error.required" class="help-block">This field is required</p>
                                    <p ng-repeat="error in page.api.errors.description" class="help-block">{{error}}</p>
                                </div> 
                            </div>
                        </div>

                        <hr class="separator"/>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button ng-click="page.save()" type="btn" class="btn btn-lg btn-primary">Save All</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- panel more -->

            <div role="tabpanel" class="tab-pane" id="more">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 class="col-sm-offset-1 form-title">
                            More Settings
                        </h2>

                        <div class="form-group" ng-class="{'has-error': isInvalid(form.price, page.api.errors)}">
                            <label for="price" class="col-sm-2 control-label">
                                Price
                            </label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input name="price" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="page.product.price">
                                </div>

                                <div ng-show="form.$submitted || form.price.$touched">
                                    <p ng-show="form.price.$error.required" class="help-block">This field is required</p>
                                    <p ng-repeat="error in page.api.errors.price" class="help-block">{{error}}</p>
                                </div>                                     
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': isInvalid(form.stock_available, page.api.errors)}">
                            <label for="quantity" class="col-sm-2 control-label">
                                Quantity
                            </label>
                            <div class="col-sm-9">
                                <input ng-model="page.product.stock_available" class="form-control" type="number" name="stock_available" min="1">

                                <div ng-show="form.$submitted || form.stock_available.$touched">
                                    <p ng-show="form.stock_available.$error.required" class="help-block">This field is required</p>
                                    <p ng-repeat="error in page.api.errors.stock_available" class="help-block">{{error}}</p>
                                </div>                                  
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': isInvalid(form.starts, page.api.errors)}">
                            <label for="date-start" class="col-sm-2 control-label">
                                Date start
                            </label>
                            <div class="col-sm-9">
                                <input ng-model="page.product.starts" class="form-control" type="text" id="date-start" name="starts">

                                <div ng-show="form.$submitted || form.starts.$touched">
                                    <p ng-show="form.starts.$error.required" class="help-block">This field is required</p>
                                    <p ng-repeat="error in page.api.errors.starts" class="help-block">{{error}}</p>
                                </div>                                  
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': isInvalid(form.ends, page.api.errors)}">
                            <label for="date-end" class="col-sm-2 control-label">
                                Date end
                            </label>
                            <div class="col-sm-9">
                                <input ng-model="page.product.ends" name="ends" class="form-control" type="text" id="date-end">

                                <div ng-show="form.$submitted || form.ends.$touched">
                                    <p ng-show="form.ends.$error.required" class="help-block">This field is required</p>
                                    <p ng-repeat="error in page.api.errors.ends" class="help-block">{{error}}</p>
                                </div>                                  
                            </div>
                        </div>
                        <!--
                        <div class="form-group">
                            <label for="inputCategories" class="col-sm-2 control-label">
                                Categories
                            </label>
                            <div class="col-sm-6">
                                <ul id="myTags" categories>
                                    <li>kdkdk</li>
                                </ul>
                            </div>
                        </div>
                        -->
                        <hr class="separator"/>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button ng-click="page.save()" type="btn" class="btn btn-lg btn-primary">Save All</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- end panel more -->
        </div>

    </form>

</div>


<div class="post-loaded">

    <!-- tinyMCE Editor -->

    <script src='/bower_components/tinymce-dist/tinymce.min.js'></script>
    <script type="text/javascript">
    tinymce.init({
      selector: 'textarea#description',
      height: 400,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks fullscreen',
        'insertdatetime media table contextmenu paste code'
      ],
      toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
      content_css: [
        '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
        '//www.tinymce.com/css/codepen.min.css'
      ]
    });
    </script>

    <!-- tag-it autocomplete -->
<!--
    <script src="/bower_components/tag-it/js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/jquery-ui/themes/flick/jquery-ui.min.css">
    <link href="/bower_components/tag-it/css/jquery.tagit.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">

       $(document).ready(function() {
           $('#myTags').tagit({
            availableTags: ['sss', 'aaa'],
            allowSpaces: false,
            placeholderText: 'New category',
            autocomplete: ({
                source: function (request, response) {
                    $.ajax({
                        url: '/mockup/autocomplete-categories',
                        data: { format: "json", query: request.term },
                        dataType: 'json',
                        type: 'GET',
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item,
                                    value: item
                                }}));},
                            error: function (request, status, error) {
                                alert(error);
                            }})},
                    minLength: 2
                })});});
    </script>
-->
    <!-- Date picker -->

    <!-- <script src="/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script> -->
    <script>
        $(function() {
            $.datepicker.setDefaults( {dateFormat: "dd/mm/yy"} );
            $( "#date-start" ).datepicker();
            $( "#date-end" ).datepicker();
        });
    </script>
</div>